.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.app-header {
  text-align: center;
}

.app-content {
  flex-grow: 1;
  display: flex;
}

.app-footer {
  text-align: center;
  height: 200px;
  padding-top: 10px;
}